.reference {
  margin-bottom: 80px;
  &__title {
    @include h2-title;
  }
  .know {
    max-width: 996px;
    width: 100%;
    margin: 0 auto;
    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      grid-gap: 12px;
    }
    &__item {
      width: 100%;
      background: var(--main-background-color);
      box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
      border-radius: 16px;
    }
    &__link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 16px 20px 24px;
    }
    &__desc {
      max-width: 492px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      grid-gap: 4px;
    }
    &__title {
      @include h3-title;
    }
    &__text {
      @include main-text;
    }
    &__arrow {
      @include arrow;
      opacity: 0.5;
    }
  }
}
